body {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.part-one {
    background: #1f2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.header div {
    font-size: 24px;
    font-weight: bold;
    align-self: center;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
}

.part-one img {
    width: 400px;
    height: auto;
}

.part-two img {
    width: 400px;
    height: 400px;
}

.part-three {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    padding: 48px;
}

.part-four {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 1000px;
    padding: 24px;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 70px;
}

.footer {
    background: #1f2937;
    color: #F9FAF8;
    padding: 25px;
    margin: 0;
}