body {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.part-one {
    background: #1f2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.header div {
    font-size: 24px;
    font-weight: bold;
    align-self: center;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 20px;
}

.below-header {
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 60px;
    gap: 32px;
}

.below-header .text {
    font-size: 18px;
    max-width: 600px;
    padding: 10px;
    position: relative;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    padding: 6px 17px;
}

.part-one img {
    width: 500px;
    height: auto;
}

.part-two {
    padding: 96px;
}

#p2_head {
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
    position: relative;
    top: -40px;
}

.characters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

.part-two img {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    border: 3px solid #3882F6;
}

.part-three {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    padding: 96px;
}

.part-four {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 1000px;
    padding: 48px;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 60px;
    display: flex;
    text-align: left;
    justify-content: space-evenly;
}

.footer {
    background: #1f2937;
    color: #F9FAF8;
    padding: 25px;
    margin: 0;
}